<h1>Analytics</h1>

<% @links.each do |link|%>
	<h2><%= link.url %></h2>
	<p><%=  request.base_url + '/'+ link&.slug %></p>
	<p>Total clicked:- <%=   link.clicked %></p>
	<p>Top countries:- <%=   link.top_countries %></p>
	<hr/>
<% end %>
